:root {
    --main-color: #2983bb;

    /*较暗文本色*/
    --text-color-light: #888888;

    /*侧边栏文本颜色*/
    --text-color-sidebar: #F2ECFF;

    /*侧边栏背景色*/
    --back-color-sidebar: #303030;

    /*预览栏背景*/
    --back-color-preview: #F5F5DC;
}

/*-----------颜色配置-----------*/

/*代码的行号列*/
pre > code[class*=hljs] > .line-number-rows {
    border-right: 1px solid var(--text-color-light);
    color: var(--text-color-light);
}

/*侧边栏的头部*/
.sidebar-header {
    color: var(--text-color-sidebar);
    background-color: var(--main-color);
}

/*预览栏顶部*/
.preview-header {
    border-bottom: 1px solid var(--text-color-light);
    color: var(--text-color-light);
}

.preview {
    background-color: var(--back-color-preview);
}

.sidebar[data-visible=notes] .btn-show-notes,
.sidebar[data-visible=catalogue] .btn-show-catalogue {
    background-color: var(--back-color-sidebar);
}

/*---------颜色配置结束---------*/

body {
    margin: 0;
}

/*代码高亮的 code 标签*/
:not(pre) > code[class*=hljs] {
    font-size: 90%;
    display: inline;
    border-radius: 5px;

    padding: 0.1em;
    font-family: inherit;
}

pre > code[class*=hljs] {
    font-size: 120%;
    display: block;
    border-radius: 5px;
}

/*代码的行号列*/
pre > code[class*=hljs] > .line-number-rows {
    counter-reset: line_number 0;

    float: left;
    display: block;

    margin-right: 10px;
    padding-right: 5px;
    text-align: right;
}

/*代码行号*/
pre > code[class*=hljs] > .line-number-rows > .line-number::before {
    display: block;
    counter-increment: line_number 1;
    content: counter(line_number); /* 填充内容 */
}

/*侧边栏*/
.sidebar {
    word-break: keep-all;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

/*侧边栏的头部*/
.sidebar-header {
    flex: 0;
    cursor: default;
}

.sidebar-header > h1 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.sidebar-header-menu {
    display: flex;
}

.btn-show-notes, .btn-show-catalogue {
    flex: 1;
    text-align: center;
    padding: 5px;
}

.sidebar[data-visible=notes] .btn-show-notes,
.sidebar[data-visible=catalogue] .btn-show-catalogue {
    border-radius: 5px 5px 0 0;
}

/*导航默认不显示*/
.notes-nav, .catalogue-nav {
    display: none;
}

/*侧边栏显示目录或笔记导航*/
.sidebar[data-visible=notes] .notes-nav,
.sidebar[data-visible=catalogue] .catalogue-nav {
    display: block;
}

/*预览栏*/
.preview {
    position: absolute;
    overflow: auto;
    word-wrap: break-word;
    text-align: justify;
}

/*预览栏顶部*/
.preview-header {
    line-height: 2em;
    cursor: default;
    padding-left: 10px;
}

/*打开/关闭侧边栏的按钮*/
#btn_switch_wrapper_state {
    background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22100%25%22%0A%20%20%20%20%20height%3D%22100%25%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22black%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20x%3D%221%22%20y%3D%221%22%20width%3D%2218%22%20height%3D%2218%22%20rx%3D%223%22%20fill%3D%22white%22%20fill-opacity%3D%220.3%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cline%20x1%3D%224%22%20y1%3D%225%22%20x2%3D%2216%22%20y2%3D%225%22%20stroke-width%3D%222%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cline%20x1%3D%224%22%20y1%3D%2210%22%20x2%3D%2216%22%20y2%3D%2210%22%20stroke-width%3D%222%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cline%20x1%3D%224%22%20y1%3D%2215%22%20x2%3D%2216%22%20y2%3D%2215%22%20stroke-width%3D%222%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E);
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 0.25em;
    cursor: pointer;
}

/*文章内容显示区*/
.article {
    padding-left: 10px;
    padding-right: 10px;
}

/*适用于小屏幕*/
@media screen and (max-width: 768px) {
    /*不使用大小调整条*/
    .resize-bar {
        display: none;
    }

    /*侧边栏放置在顶部*/
    .sidebar {
        top: -75%;
        right: 0;
        left: 0;
        height: 75%;
        border-radius: 0 0 20px 20px;
        transition: top .3s ease 0s; /* 添加过渡动画 */
    }

    /*预览栏占满页面*/
    .preview {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    /*侧边栏从顶部滑入*/
    .wrapper[data-state=fit] .sidebar {
        top: 0;
    }

    #btn_switch_wrapper_state {
        position: fixed;
        right: 10px;
        z-index: 2;
    }
}


/*适用于大屏幕*/
@media screen and (min-width: 769px) {
    :root {
        /*侧边栏宽度*/
        --sidebar-width: 280px;
    }

    /*侧边栏显示在左边*/
    .sidebar {
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: var(--sidebar-width);
        transition: left .3s ease 0s; /* left属性添加过渡动画 */
    }

    /*侧边栏调整大小的标签*/
    .resize-bar {
        width: 6px;
        cursor: ew-resize;
        position: fixed;
        left: calc(var(--sidebar-width) - 3px);
        top: 0;
        bottom: 0;
        z-index: 2;
        background-color: transparent;
    }

    .resize-bar._clicked {
        cursor: col-resize;
        left: 0;
        right: 0;
        width: auto;
    }

    /*预览栏显示在右边*/
    .preview {
        top: 0;
        bottom: 0;
        right: 0;
        left: var(--sidebar-width);
        transition: left .3s ease 0s; /* left属性添加过渡动画 */
    }

    .wrapper.no-transition .sidebar,
    .wrapper.no-transition .preview {
        transition: none;
    }

    /*隐藏侧边栏*/
    .wrapper[data-state=fit] .sidebar {
        left: calc(-1 * var(--sidebar-width));
    }

    /*隐藏大小调整条*/
    .wrapper[data-state=fit] .resize-bar {
        display: none;
    }

    /*预览栏占满页面*/
    .wrapper[data-state=fit] .preview {
        left: 0;
    }

    .url-display {
        margin-left: 2em;
    }
}