/*-----------颜色配置-----------*/

/*导航目录树*/
.nav-tree {
    /*文本颜色*/
    --text-color: #F2ECFF;

    /*激活文本色*/
    --text-color-activate: #6CB8F3;

    /*背景色*/
    --back-color-tree: #303030;

    /*滚动条滑块颜色*/
    --scrollbar-thumb-color: #C6C6C6;

    color: var(--text-color);
}

.nav-tree, .avatar, .nav-tree-item-content {
    background-color: var(--back-color-tree);
}

._branch:hover > .nav-tree-list {
    border-left-color: var(--text-color);
}

.nav-tree-link:hover, .nav-tree-link._activate {
    color: var(--text-color-activate);
}

/*滚动条滑块颜色*/
.nav-tree::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

.nav-tree::-webkit-scrollbar-corner {
    background: var(--back-color-tree);
}

/*---------颜色配置结束---------*/


/*导航目录树*/
.nav-tree {
    flex: 1 0 auto;
    overflow: auto;
    height: 0; /* 设为0才有滚动条 */
}

/*替身标签*/
.avatar {
    position: fixed;
    padding-right: 5px;
}

.nav-tree, .avatar, .nav-tree-item-content {
    white-space: nowrap;
}

.avatar, .nav-tree-item, .nav-tree-item-content {
    line-height: 2em;
}

/*导航列表，包含多个 .nav-tree-item */
.nav-tree-list {
    list-style-type: none;
    padding-left: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    cursor: default;
}

/*导航项*/
.nav-tree-item {
    position: relative;
}

/*分支里的列表设置左边框*/
._branch > .nav-tree-list {
    border-left: 1px dashed transparent;
}

.nav-tree-link:hover {
    cursor: pointer;
}

/*子列表的展开/关闭标签，右三角形*/
.nav-tree-item-expander::before {
    cursor: pointer;
    content: "\f105";
    margin-right: 5px;
}

/*子目录的展开关闭标签的宽度*/
.nav-tree-item-expander {
    width: 18px;
}
/*
目录中，没有下级目录时，需要与左侧间隔一定宽度
实现同一级目录的对齐
*/
.nav-tree-item:not(._branch) {
    left: 18px;
}

/*子项目打开时更改为下三角形*/
.nav-tree-item._branch._opened > .nav-tree-item-expander::before {
    content: "\f107";
}

/*子列表默认不显示*/
.nav-tree-item._branch > .nav-tree-list {
    display: none;
}

/*项目打开时显示子列表*/
.nav-tree-item._branch._opened > .nav-tree-list {
    display: block;
}

/*导航栏的滚动条样式*/
.nav-tree::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}